@tailwind base;
@tailwind components;
@tailwind utilities;

svg {
	height: 30px;
	font-size: 10px;
	width: 20%;
	margin: 0 auto;
	color: rgb(156, 159, 162);
}

.svg-icon {
	margin-top: 15px;
	height: 50px;
}
.svg-icon:hover {
	border-left: 5px solid rgba(0, 212, 255, 1);

	cursor: pointer;
}
.nv-content {
	width: 100%;
	padding: 10px;
	justify-content: space-between;
	background-color: #fff;
	align-items: center;
}
.nv-content-section {
	width: 100%;
}
.avatar {
	padding: 5px;
	border: 1px solid grey;
	border-radius: 50px;
	background-color: rgba(127, 255, 212, 0.272);
}

/* table section*/
.container {
	width: 80%;
	margin: 0 auto;
	background-color: #fff;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	border-radius: 5px;
	margin-top: 1rem;
}

.table-container {
	height: 90vh;
	overflow-y: scroll;
}

.table {
	border-collapse: collapse;
	width: 100%;
}

.table th,
.table td {
	padding: 8px;
	text-align: left;
	border-bottom: 1px solid #ddd;
}

.table th {
	background-color: #f2f2f2;
	color: #333;
	font-weight: bold;
}
.option-container {
	margin: 0 auto;
	margin-top: 2rem;
}

/* styling the select input option
 */
.filter-select-container {
	display: inline-block;
	position: relative;
}

.filter-select {
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 8px;
	font-size: 16px;
	width: 200px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.filter-select:focus {
	outline: none;
	border-color: skyblue;
}

.filter-select-container::after {
	content: "▼";
	position: absolute;
	top: 20%;
	right: 10px;
}
